$font-mon-reg: 'Montserrat Regular', sans-serif;
$font-mon-bold: 'Montserrat Bold', sans-serif;
$font-mon-semi: 'Montserrat Semibold', sans-serif;

/***    colors     ***/
$white: #ffffff;
$black: #130C0E;
$red: #DE1E25;
$grey: lighten(#000, 60%);
