$font-mon-light: 'Montserrat Light', sans-serif;
$font-mon-reg: 'Montserrat Regular', sans-serif;
$font-mon-semi: 'Montserrat Semibold', sans-serif;

/***    colors     ***/
$white: #ffffff;
$black: #130C0E;
$yellow: #FFD656;
$blue: #3E77E9;
$violet: #644CA2;
$light-grey: #E6E8EB;
